.header{
    width: 100%;
    height: 6rem;
    &__container-nav{
        display: flex;
        justify-content: flex-end;
        height: 6.4rem;
    }
    &__container-list{
        width: 25rem;
        padding: 1rem;
        padding-top: 0.8rem ;
        padding-right: 1.5rem;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
            &--right{
                display: flex;
            }
            &--left{
                display: flex;
                a{
                    color: $colorFontBlack;
                    font-size: $fontSizeS;
                    padding-left:1.5rem ;
                }
            }
            &--icon{
                width:  2.4rem;
                display: inline-block;
                margin-right: 2rem;
                margin-top: 4px;
                opacity: 0.6;
            }
            &--img img{
                border-radius: 50%;
            }
    }
}

